<ion-view view-title="Photos">
    <ion-content class="padding">
        <ion-list ng-if="images.length">
            <div class="list card" ng-repeat="image in images">
                <div class="item item-image">
                    <img src="">
                </div>
                <div class="item">
                    <p>{{ image.created_timestamp }}</p>
                </div>
            </div>
        </ion-list>
        <ion-list ng-if="!images.length">
            <ion-item class="textCenter">
                <i class="icon ion-loading-c"></i> Loading Photos
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>