<ion-view view-title="Photos">
    <ion-content class="padding" overflow-scroll="true">
        <ion-list ng-if="items.length">
            <div class="list card" ng-repeat="item in items">
                <div class="item item-image">
                    <img src="{{ item.imageUrl }}">
                </div>
                <div class="item">
                    <p>{{ item.uploadedAt }}</p>
                </div>
            </div>
        </ion-list>
        <ion-list ng-if="!items.length">
            <ion-item class="textCenter">
                <i class="icon ion-loading-c"></i> Loading Photos
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="nextUrl"
                             icon="ion-loading-c"
                             on-infinite="loadNext()"
                             immediate-check="false">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>