<ion-view view-title="Questions">
    <ion-content>
        <ion-list ng-if="questions.length">
            <ion-item class="item-icon-left" ng-repeat="question in questions" type="item-text-wrap" ng-click="openChannel(question, question)">
                <i class="icon {{question.icon}}"></i>
                <h2>{{question.question}}</h2>
            </ion-item>
        </ion-list>
        <ion-list ng-if="!questions.length">
            <ion-item class="textCenter">
                <i class="icon ion-loading-c"></i> Loading Questions
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>