<ion-view view-title="Group Photos">
    <ion-content class="padding">

        <button ng-click="modal.show()" ng-if="items.length"
                class="button button-full button-balanced icon-left ion-person-add">
            Manage People
        </button>
        <ion-list ng-if="items.length">
            <div class="list card" ng-repeat="item in items">

                <div class="item">
                    <h2>{{ item.uploader }}</h2>

                    <p>{{ item.uploadedAt }}</p>
                </div>

                <div class="item item-image">
                    <img src="{{ item.imageUrl }}">
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>