<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Manage People in Group</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <input ng-model="email" type="email" placeholder="Email Address">
            </label>
            <button class="button button-full button-positive" ng-click="addUser(email)">Add</button>
        </div>
        <ion-list ng-if="people.length" show-delete="false">
            <div class="list card" ng-repeat="person in people">
              <ion-item>
                <ion-delete-button class="ion-minus-circled"></ion-delete-button>
                {{ person.name }}
              </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-modal-view>